* {
  box-sizing: border-box;
}


body {
  font-family: 'Nunito', Arial, sans-serif;
  font-size: 12px;
  margin: 0;
}


.flex{
  display: flex;
}

h1, h2, h3{
  margin: 0px;
}

.header{
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.logo img{
  margin-left: 20px;
  width: 90px; 
  height: 30px; 
  display: block; 
}
.menu ul li{
  list-style-type: none;
  display: inline;
  padding: 10px;
  margin: 5px;
  font-weight: bolder;
  font-size: 16px;
  
}

.main-background{
  background-image:linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/2522641/melbourne.jpg
);
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  justify-content:center;
  align-items: center;
  flex-direction: column;
  background-color:lavender;
  height: 700px;
  color: white;
  position: relative;
  

}


.button button{
  display: inline-block;
  text-align: center;
  background-color: red;
  border: none;
  text-decoration: none;
  padding: 15px;
  margin-top: 20px;
  color: white;
  font-size: 16px;
  transition-duration: 0.4s;

}

.button button:hover{
  background-color: #4CAF50; /* Green */
    color: white;
    cursor: pointer;
}


.grid{
  display: grid;
 
}

.locals-section{
  background-color: lavender;
  height: 200px;
  padding: 20px;
  grid-template-columns: auto auto;
  grid-gap: 1rem;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  font-size: 16px;
  max-width: 1400px;
}


.box_title1{
  background-color: grey;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  
}

.box_content1{
  background-color: white;
  padding: 15px;
  grid-template-columns: auto auto;
  align-items: center;
}

.box_logo1 img{
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.box_title2{
  background-color: grey;
  padding-left: 20px;
  padding-top: 1px;
  padding-bottom: 1px;
  
}

.box_content2{
  background-color: white;
  padding: 15px;
  grid-template-columns: auto auto;
  align-items: center;
}

.box_logo2 img{
  height: 70px;
  width: 70px;
  margin-right: 10px;
}

.sec-section{
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 50px;

}


.row{
  margin: 20px;
  grid-template-columns: 400px 400px 400px;
  grid-gap: 20px;

}

div.polaroid {
  width: 80%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  position: relative;

}

.center1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
}

.center2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;
}

.center3{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 18px;
  color: white;

}

div.container {
  text-align: center;
  padding: 10px 20px;
}

.footer{
  background-color: gray;
  text-align: center;
  padding: 3px;
  font-size: 15px;
}

.horizontal{
  margin-top: 50px;
}


@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .locals-section{
    grid-template-columns: auto; 
    height: 400px;
    padding: 7px;
    grid-gap: 1rem;
    font-size: 15px;

  }
  
.row{
  grid-template-columns: auto;
  grid-gap: 15px;
  justify-content: center;
}

div.polaroid {
  width: 70%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
  position: relative;

}
  }
  

@media only screen and (max-width: 600px) {
  /* For mobile phones: */

div.polaroid {
  width: 92%;
}
  }
